* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  background: none;
  text-decoration: none;
  border: none;
  background-color: #242424;
  color: #EEE;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    width: 100%;
    overflow-x: hidden;
}
